p {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    margin-top: auto;
}

textarea::-webkit-scrollbar {
    width: 0px;
}

.pos-fixed {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container-index {
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}



.nav-flex {
    display: flex;
    gap: .5rem;
    justify-content: flex-start;
    align-items: center;
}

/* POST */

.post {
    display: flex;
    justify-content: center;
    max-width: 37.5rem
}

.profile-img-post {
    width: 3rem;
    height: 3rem;
}

.post-container {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.post-content {
    display: flex;
    width: 100%;
    flex-direction: column;

}

.post-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: .3rem;
    margin-left: .3rem;
    font-size: 12px;
}

.name {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.name:hover {
    color: #000;
    text-decoration: underline;
}

.username:hover {
    color: #536471;
    text-decoration: none;
}

.username,
.post-time {
    color: #536471;
    text-decoration: none;
}

.post-text {
    margin-left: .3rem;
}

.post-interact {
    margin: .5rem 0 ;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.post-dropdown-button {
    padding: 0;
    border: none;
    background: none;
}

.post-dropdown {
    margin-right: .5rem;  
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    right: 15px;
    top: 13px;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    min-width: 160px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: .5rem .5rem;
    text-decoration: none;
    display: block;
}

.show {
    display:block;
}

.post-i-buttons {
    border:none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    padding: 0;
}


.header-icons {
    display: flex;
    max-width: 37.5rem;
    margin: 1rem auto;
    justify-content: space-between;
}

.logo-menu {
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
}

.post-area {
    display: none;
}

.menu {
    display: none;
    font-weight: bold;
    font-family: sans-serif;
}

@media screen and (min-width:1024px) {
    
    .home-page {
        display: none;
    }

    .container-index {
        margin-top: 0;
        width: 100%;
        justify-content: flex-start;
    }

    .logo-homepage {
        display: none;
    }

    .logo-menu {
        margin-left: .5rem;
    }

    .menu {
        display: block;
        font-style: normal;
        position: fixed;
        left: 5;
        padding: 0 1rem;
        margin-top: .5rem;
    }

    .menu-buttons {
        display: flex;
        font-size: 1.2rem;
        flex-direction: column;
        gap: .5rem;
    }

    .menu-button {
        display: flex;
        padding: .5rem 1rem;
        text-decoration: none;
        align-items: center;
        gap: .5rem;
    }

    .menu-button:hover {
        border-radius: 32px;
        
        background-color: #f0f0f0;
        transition: .5s;
    }

    .menu-button-image {
        width: 20px;
        height: 20px;
    }

    .menu-button-text {
        font-family: sans-serif;
        
        font-size: 1rem;

        color: #000;
    }

    .post-container {
        justify-content: center;
    }

    .post-area {
        display: flex;
        gap: .5rem;
        flex-direction: column;
        padding: 0 .5rem;
        border-bottom:  rgb(222, 226, 230) 1px solid;
        border-right: rgb(222, 226, 230) 1px solid; 
        border-left: rgb(222, 226, 230) 1px solid; 
    }

    .post-home {
        margin-top: .5rem;
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }

    .post-write {
        display: flex;
        flex-direction: column;
    }

    .post-write-flex {
        display: flex;
        align-items: center;
        gap: .5rem;
    }


    .post-write-input {
        border: none;
        padding: .3rem;
        width: 100%;
        resize: none;
        outline: none
    }

    .post-button {
        margin: .5rem 0;
        width: 6rem;
        align-self: end;
    }

    .post-numbers {
        font-size: 12px;
    }

    .post {
        justify-content: flex-start;
        padding: 0.5rem;
        border-left: rgb(222, 226, 230) 1px solid;
        border-right: rgb(222, 226, 230) 1px solid;
        border-bottom: rgb(222, 226, 230) 1px solid ;
    }

    .search {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .search-input {
        /* background: url(/media/icons/search.png) 8px center no-repeat; */   
        border: none;
        border-radius: 20px;
        background: #eeeeee;
        margin-top: .5rem;
        margin-left: .5rem;
        width: 15rem;
        height: 2rem;
        padding-left: 1rem;
        border-style: none;
        outline: none;
        font-size: 12px;
             
    }

    .search-image {
        position: absolute;
        padding-top: .5rem;
        padding-right: .75rem;
    }

    .search-input::placeholder {
        font-size: 12px;
        padding-bottom: .1rem;

    }

    .follow-user {
        display: flex;
        gap: .5rem;
        width: 12rem;
        align-items: center;
        margin-left: .5rem;
        margin-bottom: .5rem;
    }

    .follow-title {
        margin-top: 1rem;
        margin-left: .5rem;
        font-size: 18px;
    }

    .follow-profile-image {
        width: 2rem;
        height: 2rem;
    }

    .follow-name {
        display: flex;
        flex-direction: column;
    }

    .follow-nickname {
        font-size: 12px;
        text-decoration: none;
        color: #000;
        font-weight: bold;

    }

    .follow-username {
        font-size: 12px;
        color: #536471;
    }

    .follow-btn {
        background-color: #000;
        color: #fff;
        height: 1.5rem;
        font-size: 10px;
        align-self: center;
    }

    .follow-space-beetween {
        display: flex;
        width: 8.5rem;
        justify-content: space-between;
    }

    .footer-mobile {
        display: none;
    
    }
}