body {
    width: 40%;
    margin: 0 auto;
}



a {
    text-decoration: none;
    color: #000;
    border:  none;
}

footer {
    max-width: 40%;
}

.profile-banner {
    width: 40%;
    height: 132px;
    max-width: 600px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/media/wpp.jpg);
}

.profile-img {
    width: 5rem;
    height: 5rem;
    position: relative;
    margin-left: .5rem;
    margin-top: 84px;
}

.profile-follow-btn{
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    background-color: #fff;
    border: 1px solid #282828;
    font-weight: bold;
    font-size: .8rem;
}

.profile-follow-btn:hover {
    background-color: #000;
    color: #fff;
    transition: .3s;
}

.profile-textinfo {
    display: flex;
    padding: 2.5%;
    flex-direction: column;
}

.nickname {
    font-weight: bold;
}

.username {
    color: rgb(83, 100, 113);
}

.bio {
    margin-top: 1rem;
}

.profile-follow {
    display: flex;
    gap: 1rem;
    padding: 0 2.5%;
}

.profile-nav {
    margin-top: 2.5rem;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    
}

.profile-nav a {
    padding: 3%;
    text-decoration: none;
    color: #282828
}

.profile-nav-selected {
    font-weight: bold;
    border-bottom: 3.5px solid black;
    border-radius: 1.5px;
}