.img-size {
    width: 4rem;
    height: 4rem;
}

.image-settings:hover {
    cursor: pointer;
    filter: brightness(90%);
    transition: .3s;
}



@media screen and (min-width:768px) {
    .img-size {
        width: 6rem;
        height: 6rem;
    }

    .form-size {
        height: 3rem;
    }

}

@media screen and (min-width:1024px) {
    .img-size {
        width: 8rem;
        height: 8rem;
    }

    
    
}