<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
    <link rel="stylesheet" href="/static/assets/css/change-password.css">
    <title>Dwarfer | Change password</title>
</head>
<body>
    <header>
        <img class="mx-auto d-block img-logo-128px mt-3" src="/static/assets/img/dwarf-helmet.svg" alt="">
    </header>
    <main>
        <section class="container" style="max-width: 640px;">
            <form action="" class="mt-5" method="POST"> {% csrf_token %}
                <h1 class="mb-3">Reset Password</h1>
                {% if messages %}
                    {% for message in messages %}
                        <div class="{{message.tags}}" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>           
                    {% endfor %}
                {% endif %}
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                <div id="password-subtext" class="form-text">Choose a new password</div>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm password</label>
                    <input type="password" class="form-control" id="confirmPassword" name="password2">
                </div>
                <button type="submit" class="btn btn-dark rounded-pill px-5">Submit</button>
            </form>
        </section>
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
 integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"></script>
</html>