<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/forgot-password.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header__logo">
            <img class="header__logo-image" src="../static/assets/img/dwarf-helmet.svg" class="logo" alt="">
            <h1 class="header__logo-text">dwarfer</h1>
        </div> 
    </header>
    <main>
        <section class="recuperation">
            <div class="container">
                <form action="" class="recuperation__form" method="POST"> {% csrf_token %}
                    <h2 class="recuperation__form-title ">Password recuperation</h2>
                    <p class="recuperation__form-text">Tell us your email so we can send you a password recuperation email</p>
                    <input class="recuperation__form-input" name="email" type="text" placeholder="Insert your email">
                    <button class="recuperation__form-button" type="submit">Confirm</button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>