{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/static/assets/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Dwarfer | Home Page</title>
</head>
<body>
    <header class="container-fluid border-bottom">
        <div class="home-page my-2">
            <div class="nav-flex">
                <img class="logo-homepage" src="/media/blank-profile-picture.png" class="rounded-circle" width="32px" height="32px" alt="">
                <a class="text-decoration-none fw-bold text-dark" href="">Home Page</a>
            </div>
        </div>
    </header>
    <main class="container-index">
        <div class="pos-fixed">
            <div class="menu">
                <img class="logo-menu" src="/static/assets/img/dwarf-helmet.svg"  alt="">
                <div class="menu-desktop menu-buttons">
                    <a class="menu-button" href="">
                        <img class="menu-button-image" src="/media/icons/home.png" alt="">
                        <span class="menu-button-text">Home Page</span>
                    </a>
                    <a class="menu-button" href="">
                        <img class="menu-button-image" src="/media/icons/notification.png" alt="">
                        <span class="menu-button-text">Notifications</span>
                    </a>
                    <a class="menu-button" href="">
                        <img class="menu-button-image" src="/media/icons/message.png" alt="">
                        <span class="menu-button-text">Messages</span>
                    </a>
                    <a class="menu-button"href="{% url 'profile' request.user %}">
                        <img class="menu-button-image" src="/media/icons/profile.png" alt="">
                        <span class="menu-button-text">Profile</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="post-container">         
            <div class="post-area">
                <a class="post-home" href="">Home Page</a>
                <form method="POST" enctype="multipart/form-data" class="post-write"> {% csrf_token %}
                    <div class="post-write-flex">
                        <img class="rounded-circle" src="{{user_profile.profile_img.url}}" width="48px" height="48px" alt="">
                        <textarea data-textarea name="text_content" class="post-write-input" maxlength="280" placeholder= "Say something nice!"></textarea>
                    </div>
                    <div style="display: flex; justify-content: space-between; padding: 0 1rem; align-items: center;">
                    <label for="postImage">
                        <img src="/media/icons/image.png" class="postImage-icon" width="16px" height="16px" alt="" >
                    </label>
                    <input type="file" name="image" id="postImage" style="display: none;" accept="image/*">
                    <button type="submit"  data-button class="btn btn-dark rounded-pill btn-sm px-4 post-button disabled">Post</button>
                    </div>
                </form>
            </div>         
            {% for post in feed reversed %}
            <div class="post"> 
                <div class="img-space">
                    <img class="profile-img-post rounded-circle" src="{{post.profile.profile_img.url}}" alt="">
                </div>
                <div class="post-content ms-1">
                    <div class="post-header">
                        <div>
                            <a href="{% url 'profile' post.profile.user.username %}" class="name">{{post.profile.nickname}}</a>
                            <a href="" class="username">@{{post.profile.user.username}}</a>
                            <span class="post-time">{{post.posted_at|naturaltime}}</span>
                        </div>
                        <div class="dropdown">
                            <button type="button" class="post-dropdown-button drop-btn">
                                <img src="/media/icons/dot.svg" class="post-dropdown" width="16px" height="16px" alt="">
                            </button>
                            <div id="myDropdown" class="dropdown-content">
                                {% if post.profile.user == request.user %}
                                <form method="POST" action="{% url 'delete-post' post.pk %}"> {% csrf_token %}
                                    <label class="delete-post-label" for="delete-post">Delete Post</label>
                                    <input type="submit" id="delete-post"></input>
                                </form>
                                {% endif %}
                                <a href="">Save post</a>
                                <a href="">Block @{{post.profile.user.username}}</a>
                            </div>
                        </div>
                    </div> 
                    <div class="post-text">
                        {{post.text_content}}
                    </div>
                    {% if post.image %}
                        <a href="/">
                            <img class="post-image" src="{{post.image.url}}" alt="" srcset="">
                        </a>
                    {% endif %}
                    <div class="post-interact">
                        <a href="{% url 'post' post.pk%}" class="post-i-buttons"><img src="/media/icons/comment.png" width="15px" height="16px" alt=""></a>
                        <button class="post-i-buttons"><img src="/media/icons/retweet.png" width="15px" height="16px" alt=""></button>
                        <form action="/like" method="POST"> {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="hidden" name="post_being_liked" value="{{post.pk}}">
                            <button class="post-i-buttons"><img src="/media/icons/like.svg" width="18px" height="18px" alt=""></button>
                            <span class="post-numbers">{{post.likes}}</span>
                        </form>
                        <button class="post-i-buttons"><img src="/media/icons/share.png" width="16px" height="16px" alt=""></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="search-and-follow pos-fixed-right">
            <form method="POST" class="search" action="/search"> {% csrf_token %}
                <input class="search-input" name="search" type="text" placeholder="Search on Dwarfapp">
                <img class="search-image" src="/media/icons/mglass-grey.svg" alt="">
            </form>
            <div class="follow">
                <h2 class="follow-title">Follow Sugestions</h2>
                {% for profile in follow_sugestions %}
                <div class="follow-user">
                    <img  class="follow-profile-image rounded-circle" src="/media/blank-profile-picture.png" alt="">
                    <div class="follow-space-beetween">
                        <div class="follow-name">
                            <a class="follow-nickname" href="{% url 'profile' profile.user.username %}">{{profile.nickname}}</a>
                            <span class="follow-username">@{{profile.user.username}}</span>
                        </div>
                        <form method="POST" action="/follow"> {% csrf_token %}
                            <input type="hidden" name = "who_is_being_followed" value="{{profile.user.username}}">
                            <button class="follow-btn rounded-pill">Follow</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <footer class="container-fluid footer-mobile px-3 border-top ">
        <div class="header-icons my-2">
            <i class="bi bi-house-fill"></i>
            <i class="bi bi-search"></i>
            <i class="bi bi-bell"></i>
            <i class="bi bi-envelope"></i>
        </div>
    </footer>
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
 integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="/static/assets/js/textarea-resize.js"></script>
<script src="/static/assets/js/button-disable.js"></script>
<script src="/static/assets/js/post-dropdown-button.js"></script>
</html>