<div class="search-and-follow">
    <form class="search" action="">
        <input class="search-input" type="text" placeholder="Search on Dwarfapp">
        <img class="search-image" src="/media/icons/mglass-grey.svg" alt="">
    </form>
    <div class="follow">
        <h2 class="follow-title">Follow Sugestions</h2>
        <div class="follow-user">
            <img  class="follow-profile-image rounded-circle" src="/media/blank-profile-picture.png" alt="">
            <div class="follow-space-beetween">
                <div class="follow-name">
                    <a class="follow-nickname" href="">Neymar Jr.</a>
                    <span class="follow-username">@neymaroficial</span>
                </div>
                <button class="follow-btn rounded-pill">Follow</button>
            </div>
        </div>
        <div class="follow-user">
            <img  class="follow-profile-image rounded-circle" src="/media/blank-profile-picture.png" alt="">
            <div class="follow-space-beetween">
                <div class="follow-name">
                    <a class="follow-nickname" href="">Vini Jr.</a>
                    <span class="follow-username">@vinijrrofc</span>
                </div>
                <button class="follow-btn rounded-pill">Follow</button>
            </div>
        </div>
    </div>