<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <title>Document</title>
</head>
<header class="header">
    <div class="header__logo">
        <img class="header__logo-image" src="../static/assets/img/dwarf-helmet.svg" class="logo" alt="">
        <h1 class="header__logo-text">dwarfer</h1>
    </div>  
</header>
<body>
    <main>
        
        <section class="container">
            
            <form class="signup" action="" method="POST"> {% csrf_token %}
                <ul class="signup__form">
                    <li class="signup__title"><h1>Sign in</h1></li>
                    <li><input class="signup__form-field" name="login" type="text" placeholder="Email or username"></li>
                    <li><input class="signup__form-field" name="password" type="password" placeholder="Password"></li>
                    {% if messages %}
                        {% for message in messages %}
                            <li><p class="{{message.tags}}">{{message}}</p></li>
                        {% endfor %}
                    {% endif %}
                    <li><button class="signup__button" type="submit">Sign in</button></li>
                    <li><p class="or">or</p></li>
                    <li>
                        <button class="signup__button google" type="">
                            <img class="signup__button-imageGoogle" src="../static/assets/img/ggl-logo.png" alt="Google's logo">
                            <p>Sign in with Google</p>
                        </button>
                    </li>                  
                </ul>
            </form>   
        </section>
        <p class="login-directioner">Doesn't have a account?<a class="login-directioner__link" href="{% url 'signup' %}">Create</a></p>
    </main>
    
</body>
</html>